
/** Contacts style sheet
*/

h1{
    background-color: #4aaaa5;
}

#submit{
    background-color: #4aaaa5;
    cursor: pointer;
    border: none;
    color: white;
    height: 30;
    width: 90;
    float

}